.container {
  width: 1226px;
  margin: 0 auto;
}

// 未更换
a {
  img {
    width: 100%;
    height: 100%;
  }
}

// 未更换
input {
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  &::after{
    content: "";
    clear: both;
    display: table;
  }
}